<header class="site-header">
    <div class="container header-content">
        <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>
        
        <nav class="site-nav">
            <ul>
                {% for item in site.navbar %}
                <li class="nav-item">
                    <a class="page-link" href="{{ item.url | relative_url }}">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
