<header class="site-header">
    <div class="header-inner">
        <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>
        <nav class="site-nav">
            <ul>
                {% for item in site.navbar %}
                <li>
                    <a href="{{ item.url | relative_url }}"{% if page.url == item.url %} class="active"{% endif %}>
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
